.app-nav {
    background-color: #001a33;
    line-height: 56px;
}

body {
    background-color: #F5F9FC;
}

.app-title {
    color: white;
    margin-top: 150px;
}

.app-img-center {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.backload {
    display: block;
    background: RGBA(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 800;
}

.app-load {
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}